/* #################### */
/* GRID */
/* #################### */
.row { display: flex; flex-wrap: wrap; flex-flow: row wrap;}
.row-top { align-items: flex-start; }
.row-middle { align-items: center; }
.row-bottom { align-items: flex-end; }
.row-stretch { align-items: stretch; }
.row-baseline { align-items: baseline; }
.row-left { justify-content: flex-start; }
.row-center { justify-content: center; }
.row-right { justify-content: flex-end; }
.row-between { justify-content: space-between; }
.row-around { justify-content: space-around; }

.col { box-sizing: border-box; flex-shrink: 0; }
.col-1 { width: calc(100% * 1 / 12); }
.col-2 { width: calc(100% * 2 / 12); }
.col-3 { width: calc(100% * 3 / 12); }
.col-4 { width: calc(100% * 4 / 12); }
.col-5 { width: calc(100% * 5 / 12); }
.col-6 { width: calc(100% * 6 / 12); }
.col-7 { width: calc(100% * 7 / 12); }
.col-8 { width: calc(100% * 8 / 12); }
.col-9 { width: calc(100% * 9 / 12); }
.col-10 { width: calc(100% * 10 / 12); }
.col-11 { width: calc(100% * 11 / 12); }
.col-12 { width: 100%; }
.col-fill { width: 0; min-width: 0; flex-grow: 1; }

/* #################### */
/* CELL */
/* #################### */
.cell{flex:1;}
.cell-2{flex:2}
.cell-3{flex:3}



/* #################### */
/* hide & show */
/* #################### */
/* mobile // xs */
@media( max-width: 767px ) {
  .hide-xs{display: none;}
  .show-md{display: none;}
  .show-l{display: none;}
  .show-xl{display: none;}
}

/* tablette // md */
@media ( min-width : 768px ) and ( max-width: 991px) {
  .hide-md{display: none;}
  .show-xs{display: none;}
  .show-l{display: none;}
  .show-xl{display: none;}
}

/* desktop // l */
@media ( min-width : 992px ) and ( max-width: 1199px) {
  .hide-l{display: none;}
  .show-xs{display: none;}
  .show-md{display: none;}
  .show-xl{display: none;}
}

/* desktop large // xl */
@media ( min-width : 1200px ) {
  .hide-xl{display: none;}
  .show-xs{display: none;}
  .show-md{display: none;}
  .show-l{display: none;}
}


// SITE
.container {
  width: 80%;
}

.title {
  text-align: center;
  font-family: cursive;
  font-size: 26px;
  padding-top: 30px;
}

.block {
  padding: 5px 10px;
  border: 1px solid black;
}

.block__left {
  margin: 0 5px 0 0;
}

.block__right {
  margin: 0 0 0 5px;
}

.block .cell ::before {
  content: "/ ";
}

.block .cell ::after {
  content: " /";
}
